.common-style{
    margin:16px;
    padding: 10px;
    font-size: medium;
    text-align: center;
    
}
#id1{
    background:red;
}
#id2{
    background: black;
    color: white;

}
#id3{
    background: yellow;
}